parameters:
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    excludes_analyse:
        - src/DependencyInjection/Configuration.php
    ignoreErrors:
        - '#PHPDoc tag @throws with type [a-zA-Z0-9\\_\\]| is not subtype of Throwable#'